<div class="container">
  <%= link_to "Home", root_path %>
  <h1> Show Page of Stock <%= @stock.name %> </h1>
  <!-- <div id="chart_div"></div>  specific div for the chart -->
<div class="svg-chart">
  <svg version="1.2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="graph" aria-labelledby="title" role="img">
  <title id="title">A line chart showing some information</title>
  <g class="grid x-grid" id="xGrid">
    <line x1="90" x2="90" y1="5" y2="371"></line>
  </g>
  <g class="grid y-grid" id="yGrid">
    <line x1="90" x2="100%" y1="370" y2="370"></line>
  </g>
    <g class="labels x-labels">
      <% x = 100 %>
      <% @stock.trade_dates.each do |trade_date| %>
        <text x=<%= x %> y="400"><%= trade_date.day %></text>
        <% x += 80 %>
      <% end %>
        <text x="400" y="440" class="label-title">Year</text>
      </g>
    <g class="labels y-labels">
      <% y = 0 %>
      <% @stock.trade_dates.each do |trade_close| %>
      <text x="80" y=<%= y %>> <%= trade_close.close %></text>
      <% y += 26 %>
      <% end %>
      <text x="40" y="200" class="label-title">Price</text>
    </g>
    <g class="data" data-setname="Our first data set">
    <circle cx="90" cy="192" data-value="7.2" r="4"></circle>
    <circle cx="240" cy="141" data-value="8.1" r="4"></circle>
    <circle cx="388" cy="179" data-value="7.7" r="4"></circle>
    <circle cx="531" cy="200" data-value="6.8" r="4"></circle>
    <circle cx="677" cy="104" data-value="6.7" r="4"></circle>
  </g>
  </svg>
</div>
    <table class="table">
      <thead>
        <tr>
        <td> Date </td>
        <td> Open </td>
        <td> High </td>
        <td> Low </td>
        <td> Close </td>
        </tr>
      </thead>
      <tbody>
      <% @stock.trade_dates.reverse.each do |date| %>
        <tr>
        <td> <%= date.day %> </td>
        <td> <%= number_to_currency(date.open) %> </td>
        <td> <%= number_to_currency(date.high) %> </td>
        <td> <%= number_to_currency(date.low) %> </td>
        <td> <%= number_to_currency(date.close) %> </td>
        </tr>
      <% end %>
      </tbody>
    </table>
</div>
  <%#= area_chart Page.group_by_day(:trade_date).maximum(:price) %>

