<div class="container">
  <div class="top-div">
    <%= link_to "Home", root_path %>
    <h2> Show Page of Stock <%= @stock.name %> </h2>
    <%= link_to "Get Strategy", strategies_path %>
  </div>
    <table class="table">
      <thead>
        <tr>
        <td> Date </td>
        <td> Open </td>
        <td> High </td>
        <td> Low </td>
        <td> Close </td>
        <td> MMA5 </td>
        <td> MMA8 </td>
        <td> MMA13 </td>
        <td> MMA21 </td>
        </tr>
      </thead>
      <tbody>
      <% expo_average = [] %>
      <% row = expo_average.size %>
      <% @stock.trade_dates.each do |date| %>
        <% if row < @stock.trade_dates.count %>
          <% expo_average << date.close %>
          <tr>
          <td> <%= date.day %> </td>
          <td> <%= number_to_currency(date.open) %> </td>
          <td> <%= number_to_currency(date.high) %> </td>
          <td> <%= number_to_currency(date.low) %> </td>
          <td class="stock_close"> <%= number_to_currency(date.close) %> </td>
          <td class="expo_average">
            <% if row < 4 %>
              <p> --- </p>
            <% else %>
              <%= number_to_currency(expo_average.ema(expo_average.size - 1, 5)) %> </td>
            <% end %>
            <td>
            <% if row < 7 %>
              <p> --- </p>
            <% else %>
              <%= number_to_currency(expo_average.ema(expo_average.size - 1, 8)) %> </td>
            <% end %>
          </td>
          <td>
            <% if row < 12 %>
              <p> --- </p>
            <% else %>
              <%= number_to_currency(expo_average.ema(expo_average.size - 1, 13)) %> </td>
            <% end %>
          </td>
          <td>
            <% if row < 20 %>
              <p> --- </p>
            <% else %>
              <%= number_to_currency(expo_average.ema(expo_average.size - 1, 21)) %> </td>
            <% end %>
          </td>
          </tr>
        <% end %>
        <% row += 1 %>
      <% end %>
      </tbody>
    </table>
</div>

